input[type=text] {
    width: 100%;
    display: inline-block;
}

h1 > input[type=text] {
    line-height: initial;
}
textarea, input {
    background: transparent;
    border: none;
}
textarea {
    width: 100%;
    min-height: 10em;
}

@media (min-width: 768px) {
    overview {
        position: fixed !important;
        overflow-y: auto;
        top: 85px;
        bottom: 15px;
    }
    notes {
        overflow-y: auto;
        position: fixed !important;
        top: 85px;
        bottom: 15px;
        left: 25%;
    }
    .head {
        position: fixed;
        background-color: rgba(255,255,255,0.9);
        width: 100%;
        top: 0;
        z-index: 1000;
    }
}

button.pull-top-right {
    position: relative;
    float: right;
    top: -11px;
    right: -16px;
    margin-bottom: -19px;
}

